{% extends 'template/cadreUser.html.twig' %}

{% block table %}
    <h1 class='text-center'>Création d'un article</h1>
<br>
<div class="width-new">
    {{ form_start(form) }}
      
        {{ form_row(form.refArticle,{'attr':{'class':'form-control','placeholder':'Référence article'}}) }}
        {{ form_row(form.nomArticle,{'attr':{'class':'form-control','placeholder':'Nom article'}}) }}
        {{ form_row(form.nomFournisseur,{'attr':{'class':'form-control'}}) }}       
        {{ form_row(form.prixAchatHtArticle,{'attr':{'class':'form-control','placeholder':'Prix achat HT'}}) }}
        {{ form_row(form.quantiteArticle,{'attr':{'class':'form-control','placeholder':'Quantité'}}) }}
        {{ form_row(form.prixVenteHtArticle,{'attr':{'class':'form-control','placeholder':'Prix Vente HT'}}) }}
 </div>
     
<br>
  
    <input class='btn btn-secondary' type="submit" value="Créer" />
    {{ form_end(form) }}
<br>
    <ul class="list-unstyled">
        <li>
            <a href="{{ path('art_index') }}"><u> Retour à la liste </u></a>
        </li>
    </ul>
{% endblock %}
