{% trans_default_domain 'FOSUserBundle' %}


{% if error %}
    <code>{{ error.messageKey|trans(error.messageData, 'security') }}</code>
{% endif %}

<form class="form-inline" action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
    <div class= "pad">
    <input class="form-control-sm" placeholder="{{ 'security.login.username'|trans }}" type="text" id="username" name="_username" 
    value="{{ last_username }}" required="required" autocomplete="username" />
    </div>
    <div class= "pad">
    <input class="form-control-sm" placeholder="{{ 'security.login.password'|trans }}" type="password" id="password" name="_password" 
    required="required" autocomplete="current-password" />
    </div>
    

    <div class= "pad">
 
   <input class="btn btn-primary btn-sm" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
    
    </div>

</form>

<div class= "pad ">
Pas encore inscrit ?<a href="{{ path('fos_user_registration_register') }}"><u> cliquez ici </u></a> <br>
Mot de passe oublié ?<a href="{{ path('fos_user_resetting_request') }}"><u> cliquez ici </u></a> 
</div>

