{% extends 'template/cadreUser.html.twig' %}

{% block table %}
    <h1 class='text-center'>Création d'achat</h1>
<br>

<div class="width-new" id='achat-new'>
    {{ form_start(form) }}
        {{ form_row(form.fournisseur,{'label':false,'attr':{'class':'form-control'}}) }}

<div class="card" id="details"
  data-prototype="{{ form_widget(form.achat_details.vars.prototype)|e('html_attr') }}">
  <h3 class="card-header bg-primary text-white">Détails d'achat
      <span class="fa fa- pull-right"></span></h3>
      
              {% for row in form.achat_details %}
                    <div class="card-block">
    <p class="card-text"> {{ form_row(row) }} </p>
      
                    </div>       
              {% endfor %}
              
  </div> 

        {{ form_row(form.prixTotalDachats,{'attr':{'class':'form-control','placeholder':'Prix totale d\'achat'}}) }}
        {{ form_row(form.payement,{'attr':{'class':'form-control','placeholder':'Payement'}}) }}
        {{ form_row(form.balance,{'attr':{'class':'form-control','placeholder':'Balance'}}) }}
</div>

<br>

        <input class='btn btn-secondary' type="submit" value="Créer" />
    {{ form_end(form) }}
<br>
    <ul class="list-unstyled">
        <li>
            <a href="{{ path('ach_index') }}"><u> Retour à la liste </u></a>
        </li>
    </ul>
{% endblock %}
